camera_ready_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "camera-ready-submission",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        -160
      ],
      "id": "webhook-camera-ready",
      "name": "Webhook - Camera Ready",
      "webhookId": "camera-ready-submission"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pnrem0eltx9z2ia",
        "table": "camera_ready_submissions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "CameraReadyPaper",
              "binaryData": true,
              "binaryProperty": "camera_ready_file"
            },
            {
              "fieldName": "Name",
              "fieldValue": "={{ $json.body.full_name }}"
            },
            {
              "fieldName": "Email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldName": "Title",
              "fieldValue": "={{ $json.body.paper_title }}"
            },
            {
              "fieldName": "SubmissionType",
              "fieldValue": "={{ $json.body.submission_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        0,
        -160
      ],
      "id": "nocodb-camera-ready",
      "name": "Store Camera Ready Submission",
      "credentials": {
        "nocoDbApiToken": {
          "id": "DkJsKrdCF1avft4n",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://defaultf5dbba49ce06496fac3e0cf14361d9.34.environment.api.powerplatform.com/powerautomate/automations/direct/workflows/971a0711a2ef48fca79113218c8e8e9c/triggers/manual/paths/invoke",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "1"
            },
            {
              "name": "sp",
              "value": "/triggers/manual/run"
            },
            {
              "name": "sv",
              "value": "1.0"
            },
            {
              "name": "sig",
              "value": "i2quS4oa-UAEoTQGw5PpyqJWS7JKu6pQ7F7zv90geJI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.Email }}\",\n  \"subject\": \"MASSHINE Workshop: Camera Ready Submission Received\",\n  \"body\": \"Dear {{ $json.Name }},<p>Thank you for submitting the camera ready version of your paper titled <em>{{ $json.Title }}</em> ({{ $json.SubmissionType }}).</p><p>We have successfully received your submission. The organizing committee will review all camera ready submissions and ensure they are ready for inclusion in the workshop proceedings.</p><p>If you have any questions or need to update your submission, please contact us at roman@business.aau.dk.</p><br><p>We look forward to seeing you at the workshop on <strong>December 8-9, 2025</strong> at AAU Innovate, Aalborg.</p><br><p>Best regards,</p><p><strong>Roman Jurowetzki</strong><br>Associate Professor of Innovation Studies & Applied Data Science | Aalborg University Business School<br>IKE | Chief Scientist - National Center for AI in Society (CAISA)<br><br>T: (+45) 9940 2738 | Email: roman@business.aau.dk<br>Aalborg University | Fibigerstræde 11, Room 103 | DK-9220 Aalborg East, Denmark</p>\",\n  \"html\": true,\n  \"importance\": \"Normal\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -160
      ],
      "id": "email-confirmation",
      "name": "Send Confirmation Email"
    }
  ],
  "connections": {
    "Webhook - Camera Ready": {
      "main": [
        [
          {
            "node": "Store Camera Ready Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Camera Ready Submission": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook - Camera Ready": [
      {
        "headers": {
          "host": "n8n.automate.business.aau.dk",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
          "content-type": "multipart/form-data",
          "accept": "*/*"
        },
        "params": {},
        "query": {},
        "body": {
          "full_name": "Test Author",
          "email": "test@example.com",
          "paper_title": "Test Paper Title",
          "submission_type": "Full Paper",
          "captcha": "9"
        },
        "webhookUrl": "https://n8n.automate.business.aau.dk/webhook/camera-ready-submission",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5961d7ce06cb794625eaa86a5e7c2b3ded2cf3430ffe047e0823d598863f077c"
  }
}
